/* Logo normal (pantallas grandes) */
#logo {
    content: url("../img/LOGO_SEGTRACK.ico");
    width: 180px;
    /* Ajusta el tamaño */
}

/* Logo reducido (pantallas pequeñas) */
@media (max-width: 768px) {
    #logo {
        content: url("../img/LOGO_SEGTRACK-re.ico");
        width: 90px;
        /* Más pequeño */
    }
}